 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Nosotros</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>Soluciones Tecnólogicas Ágiles de Honduras, es una empresa dedicada al desarrollo de software utilizando metodologias agiles. </p>
                </div>
                <div class="col-lg-4">
                    <p>Especializados en desarrollo web, aplicaciones moviles y en brindar distintas soluciones tecnologicas para hacer crecer tu empresa.</p>
                </div>
            </div>
        </div>
    </section>
